/* Image List with Text Section */
.marketing .col-lg-3,
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-3 p,
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.featurette-divider {
    margin: 20px 0;
    /* Space out the Bootstrap <hr> more */
}
